params {
    appsConfig {
        deeptmhmm {
            name = "deeptmhmm"
            dir = "/global/home/users/reliscu/scratch/programs/DeepTMHMM-Academic-License-v1.0"
            has_data = false
            use_gpu = true
            enabled = true
        }
        phobius {
            name = "Phobius"
            dir = "/global/home/users/reliscu/scratch/programs/phobius"
            has_data = false
        }
        signalp_euk {
            name = "SignalP-Euk"
            organism = "eukarya"
            dir = "/global/home/users/reliscu/scratch/programs/signalp6_slow_sequential"
            mode = "slow"
            has_data = false
            use_gpu = true
            enabled = true
        }
    }
}

process {
    queue = 'savio2'
    clusterOptions = '--account=fc_lareau --qos=savio_normal'

    withName: 'RUN_SIGNALP_GPU_EUK' {
        queue = 'savio3_gpu'
        cpus = 8
        maxForks = 2
        time = '24h'
        memory = '32GB'
        clusterOptions = '--gres=gpu:A40:1 --account=fc_lareau --qos=a40_gpu3_normal'
    }
    withName: 'RUN_DEEPTMHMM_GPU' {
        queue = 'savio3_gpu'
        cpus = 8
        maxForks = 2
        time = '24h'
        memory = '32GB'
        clusterOptions = '--gres=gpu:A40:1 --account=fc_lareau --qos=a40_gpu3_normal'
    }
}
